{% extends 'base.html.twig' %}

{% block title %}Hello CycleController!
{% endblock %}

{% block body %}
<br>
<h2 style="color:#001A33;">Les cycles de formation</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    {% if ok %}
        <li class="breadcrumb-item">Formation</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{{ path('Lister_cycle') }}">Utilisateurs</a></li>
        <li class="breadcrumb-item">Formations par utilisateur</li>
    {% endif %}
</ol>
<div class="form-group">
    <input class="form-control" id="search" placeholder="Rechercher par Num Action" type="text" onKeyUp="search(0)" style="width:35%;float:right">
</div>
<br><br>
<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">NumAction</th>
        <th scope="col">Authorisation</th>
        <th scope="col">Théme</th>
        <th scope="col">Mode</th>
        <th scope="col"> Formateur </th>
        <th scope="col">Lieu</th>
        <th scope="col">Date debut</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set i=0 %}
    {% for Cycle in Cycles %}
        {% set i=i+1 %}
    <tr>
        <th scope="row">{{ i }}</th>
        <td>{{ Cycle.NumAction }}</td>
        <td>
            {% if Cycle.CreditImpot %}
                <span class="badge badge-pill badge-primary">CreditImpot</span>
            {% endif %}

            {% if Cycle.DroitTirage %}
                <span class="badge badge-pill badge-dark">DroitTirage</span>
            {% endif %}

            {% if Cycle.Article39 %}
                <span class="badge badge-pill badge-success">Article39</span>
            {% endif %}
        </td>
        <td>{{ Cycle.theme }}</td>
        <td>{{ Cycle.Mode }}</td>
        <td>{{ Cycle.formateur.Nom }}</td> 
        <td>{{ Cycle.lieu }}</td>
        <td>{{ Cycle.dateDebut | date("m/d/y") }}</td>
        <td>{{ Cycle.dateFin | date("m/d/y") }}</td>
        <td>
            <a href="{{ path('Supprimer_cycle', {id : Cycle.id}) }}"><span class="badge badge-pill badge-danger">Supprimer</span></a>
            <a href="{{ path('edit_cycle', {id : Cycle.id}) }}"><span class="badge badge-pill badge-warning">Editer</span></a>
            {% if ok  %}
                <a href="{{ path('UserperFormations', {id : Cycle.id}) }}"><span class="badge badge-pill badge-success">Utilisateurs</span></a>   
            {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{{ path('Ajout_cycle') }}">
    <button type="submit" class="btn btn-primary" style="float:right">Ajouter formation</button>
</form>
{% endblock %}